@font-face{
	font-family:'EUPHORIA SCRIPT';
	src:url(../fonts/EuphoriaScript-Regular.otf) format('otf');
}




	p {
	color:green;
	font-family: 'Staatliches', cursive;
  }

h1
  {
  	font-family:EUPHORIA SCRIPT;
  	color:red;
  }

#special{
	color:blue;

}  

span{
	color: red;
	font-weight:bold;
}
ul{
	list-style-type:ethiopic-halehame-sid-et;
	}
div{
	background-color: yellow;
	width: 50%;
}	
img{
	float:left;
	width:50%;
	margin-right: 10px;
	margin-bottom: 10px;
}
.clear{
	clear: both;
}

.branch-1{
	width: 300px;
	font-size: 24px;
	font-weight: bold;
	background-color: grey;
	height: 300px;
	border-width:10px;
	border-style: solid;
	border-color: blue;   
	border-bottom: 10px solid red;          
	padding:10px;
	box-sizing: border-box;      
	margin-left: auto;
	margin-right: auto;               
}

.branch-2{
	width: 300px;
	height: 400px;
	background-color: yellow;
	border:10px solid black;
}
