div{
	
	background-color: yellow;
	border:10px solid grey;
   margin: 150px 0 0 200px;
}

.block{
	width:200px;
	height: 200px;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	padding-top: 50px;
	transform: rotate(45 0deg);
	transform: scale(0.8,1);


}