/*a:link{
	color:brown;
}
a:visited{
	color:green;
}*/
a{
	display:block;
	width: 200px;
	height:50px;
	background: blue;
	color: white;
	margin-top: 15px;
	padding-top:10px;
	border-radius: 15px;
	font-family: arial;
	font-size: 24px;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;

}
a:hover{
	background:brown;
}
a:active{
	background: black;
	box-shadow: 10px -10px 5px rgba(0,0,0,0.5);
}


input{
	margin-left: 15px;
	outline:none;

}

inp-1:focus{
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

#inp-2:checked + label{
	color:green;
	background:yellow;
}

.inp-3:valid{
      border:3px solid green;
}
.inp-3:invalid{
      border:3px solid red;
}

.inp-4:enabled{
	color:blue;
}
.inp-4:disabled{
	color:red;
}