@font-face{
	font-family:'EUPHORIA SCRIPT';
	src:url(../fonts/EuphoriaScript-Regular.otf) format('otf');
}




	p {
	color:green;
	font-family: 'Staatliches', cursive;
  }

h1
  {
  	font-family:EUPHORIA SCRIPT;
  	color:red;
  }

#special{
	color:blue;

}  

span{
	color: red;
	font-weight:bold;
}
ul{
	list-style-type:ethiopic-halehame-sid-et;
	}
div{
	background-color: yellow;
	width: 50%;
}	
img{
	float:left;
	width:50%;
	margin-right: 10px;
	margin-bottom: 10px;
}
.clear{
	clear: both;
}

.branch-1{
	width: 300px;
	font-size: 24px;
	font-weight: bold;
	background-color: grey;
	height: 300px;
	border-width:10px;
	border-style: solid;
	border-color: blue;   
	border-bottom: 10px solid red;          
	padding:10px;
	box-sizing: border-box;      
	margin-left: auto;
	margin-right: auto;               
}

.branch-2{
	width: 300px;
	height: 400px;
	background-color: yellow;
	border:10px solid black;
	border-bottom: 10px;
}

/*.block{
	width: 500px;
	height: 500px;
	background-color: red;
	background-image: url(https://cdn.pixabay.com/photo/2018/08/06/16/30/mushroom-3587888_1280.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    margin-left: auto;
    margin-right: auto;
    }
 */


.first{
 	background-color: red;
 	width:150px;
 	height:150px;
 	position: relative;
 	z-index: 1; 	
 }   

.second{
 	background-color: green;
 	width:150px;
 	height:150px;
 	position: absolute;
 	left:150px;
 	top:5px;
 	z-index: 3;
 	
 }
 .third
 {
 	background-color: blue;
 	width: 150px;
 	height:150px;
 	position: relative;
 	left:75px;
 	bottom: 75px;
 	z-index: 2;

 }

 .heading{
 	position: absolute;
 	left:450px;
 	top:70px;
 }
 .y{
 	color: blue;
 }

 .z{
 	color:green;
 }

 ul li{
 	background-color: grey;
 }
  h1~p{
  	background-color: grey;
  	color:black;
  }

  /*h1>p (for immediate child*/
  /*h1+p (for first appeared partner*/
   /*body h1 p  (for nested child*/