.block{
     width:150px;
     height: 150px;
     background-color: orange;
     border:1px solid red;
     font-size: 30px;
     color:white;
    
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 500px;
	border:1px solid black;
	/*align-items:stretch;*/
	align-items: center;
	
	justify-content: center;
	flex-wrap: wrap;

}

.block-2{
	padding-top: 20px;
	align-self: center;
	order: 2;
}

.block-3{
	align-self: flex-end;
}